CrossToeClient/Service References/ServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ManagerGame" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IManagerGame_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IDuplexService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IManagerGame_SetPosition_InputMessage">
    <wsdl:part name="parameters" element="tns:SetPosition" />
  </wsdl:message>
  <wsdl:message name="IManagerGame_SetPosition_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetPositionResponse" />
  </wsdl:message>
  <wsdl:message name="IDuplexService_AddNewUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewUser" />
  </wsdl:message>
  <wsdl:message name="IDuplexService_AddNewUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewUserResponse" />
  </wsdl:message>
  <wsdl:message name="IDuplexService_GetUpdate_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:GetUpdate" />
  </wsdl:message>
  <wsdl:portType name="IManagerGame">
    <wsdl:operation name="SetPosition">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagerGame/SetPosition" message="tns:IManagerGame_SetPosition_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManagerGame/SetPositionResponse" message="tns:IManagerGame_SetPosition_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IDuplexService">
    <wsdl:operation name="AddNewUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IDuplexService/AddNewUser" message="tns:IDuplexService_AddNewUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDuplexService/AddNewUserResponse" message="tns:IDuplexService_AddNewUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUpdate">
      <wsdl:output wsaw:Action="http://tempuri.org/IDuplexService/GetUpdate" message="tns:IDuplexService_GetUpdate_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IManagerGame" type="tns:IManagerGame">
    <wsp:PolicyReference URI="#NetTcpBinding_IManagerGame_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="SetPosition">
      <soap12:operation soapAction="http://tempuri.org/IManagerGame/SetPosition" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IDuplexService" type="tns:IDuplexService">
    <wsp:PolicyReference URI="#NetTcpBinding_IDuplexService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="AddNewUser">
      <soap12:operation soapAction="http://tempuri.org/IDuplexService/AddNewUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpdate">
      <soap12:operation soapAction="http://tempuri.org/IDuplexService/GetUpdate" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ManagerGame">
    <wsdl:port name="NetTcpBinding_IManagerGame" binding="tns:NetTcpBinding_IManagerGame">
      <soap12:address location="net.tcp://localhost:8733/Design_Time_Addresses/CrossToeService/ManagerGame/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8733/Design_Time_Addresses/CrossToeService/ManagerGame/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IDuplexService" binding="tns:NetTcpBinding_IDuplexService">
      <soap12:address location="net.tcp://localhost:8733/Design_Time_Addresses/CrossToeService/ManagerGame/duplex" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8733/Design_Time_Addresses/CrossToeService/ManagerGame/duplex</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>